<mat-button-toggle (click)="resetStore()">{{ translationKeys.reset | translate }}</mat-button-toggle>
<mat-button-toggle (click)="openCreateDialog()">{{ translationKeys.create | translate }}</mat-button-toggle>
<p *ngIf="(guess$ | async)?.loadingPokemons">{{ translationKeys.pokemonsLoading | translate }}</p>

<div class="max-h-full overflow-y-scroll">
	<div
		class="grid gap-y-2"
		*ngFor="let pokemon of (guess$ | async)?.pokemonList">
		<app-pokemon-item [pokemon]="pokemon"></app-pokemon-item>
	</div>
</div>
