<h1 mat-dialog-title>{{ translationKeys.createPokemon | translate }}</h1>
<div mat-dialog-content>
	<div class="pokemon-details">
		<mat-form-field class="w-full">
			<mat-label>{{ translationKeys.name | translate }}</mat-label>
			<input
				matInput
				type="text"
				[formControl]="pokemonCreateForm.controls.name" />
			<button
				*ngIf="pokemonCreateForm.value.name"
				matSuffix
				mat-icon-button
				aria-label="Clear"
				(click)="pokemonCreateForm.value.name = ''">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>
		<mat-form-field class="w-full">
			<mat-label>{{ translationKeys.pictureURL | translate }}</mat-label>
			<input
				matInput
				type="text"
				[formControl]="pokemonCreateForm.controls.image" />
		</mat-form-field>

		<div>
			<div class="mb-5">
				<mat-form-field class="w-1/3 mr-8">
					<mat-label>{{ translationKeys.height | translate }}</mat-label>
					<input
						matInput
						type="number"
						[formControl]="pokemonCreateForm.controls.height" />
				</mat-form-field>
				<mat-form-field class="w-1/3">
					<mat-label>{{ translationKeys.weight | translate }}</mat-label>
					<input
						matInput
						type="number"
						[formControl]="pokemonCreateForm.controls.weight" />
				</mat-form-field>
			</div>

			<div class="mb-5">
				<span>{{ translationKeys.types | translate }}:</span>
				<mat-form-field class="w-full">
					<mat-label>{{ translationKeys.selectTypes | translate }}</mat-label>
					<mat-select
						multiple
						[formControl]="pokemonCreateForm.controls.types"
						panelClass="type-select">
						<mat-option
							*ngFor="let type of pokemonTypes"
							[value]="type"
							(click)="addType(type)"
							[disabled]="isTypeDisabled()"
							[ngStyle]="{
								'background-color': getTypeColor(type)
							}">
							<div>
								{{ type }}
							</div>
						</mat-option>
					</mat-select>
				</mat-form-field>
				<div *ngIf="selectedTypes.length > 0">
					<span>{{ translationKeys.selectedTypes | translate }}</span>
					<div class="selected-types">
						<div
							*ngFor="let type of selectedTypes"
							class="selected-type">
							<mat-chip-option
								[ngStyle]="{
									'background-color': getTypeColor(type)
								}"
								[selectable]="false"
								>{{ type }}
							</mat-chip-option>
							<button
								class="remove-button"
								(click)="removeType(type)">
								<mat-icon>close</mat-icon>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div>
				<span>{{ translationKeys.battleStats | translate }}</span>
				<mat-form-field class="w-full">
					<mat-label>{{ translationKeys.attack | translate }}</mat-label>
					<input
						matInput
						type="number"
						[formControl]="pokemonCreateForm.controls.attack" />
				</mat-form-field>
				<mat-form-field class="w-full">
					<mat-label>{{ translationKeys.defense | translate }}</mat-label>
					<input
						matInput
						type="number"
						[formControl]="pokemonCreateForm.controls.defense" />
				</mat-form-field>
				<mat-form-field class="w-full">
					<mat-label>{{ translationKeys.speed | translate }}</mat-label>
					<input
						matInput
						type="number"
						[formControl]="pokemonCreateForm.controls.speed" />
				</mat-form-field>
				<mat-form-field class="w-full">
					<mat-label>{{ translationKeys.hp | translate }}</mat-label>
					<input
						matInput
						type="number"
						[formControl]="pokemonCreateForm.controls.hp" />
				</mat-form-field>
				<mat-form-field class="w-full">
					<mat-label>{{ translationKeys.specialAttack | translate }}</mat-label>
					<input
						matInput
						type="number"
						[formControl]="pokemonCreateForm.controls.special" />
				</mat-form-field>
			</div>
		</div>
	</div>

	<button (click)="onNoClick()" mat-button>{{ translationKeys.close | translate }}</button>
	<button
		(click)="onSubmit()"
		[disabled]="pokemonCreateForm.invalid"
		mat-button>
    {{ translationKeys.confirm | translate }}
	</button>
</div>
