<h1 mat-dialog-title>N°{{ data.pokemon.number }} {{ data.pokemon.name }}</h1>
<div mat-dialog-content>
	<div class="pokemon-details">
		<mat-form-field class="w-full">
			<mat-label>{{ translationKeys.name | translate }}</mat-label>
			<input
				matInput
				type="text"
				[formControl]="pokemonEditForm.controls.name" />
			<button
				*ngIf="pokemonEditForm.value.name"
				matSuffix
				mat-icon-button
				aria-label="Clear"
				(click)="pokemonEditForm.value.name = ''">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>

		<div class="mb-5">
			<img
				*ngIf="!isImageDeleted"
				[src]="image"
				alt="{{ data.pokemon.name }}'s picture" />
			<div *ngIf="isImageDeleted">
				<button mat-button (click)="cancelImageDeletion()">
          {{ translationKeys.cancel | translate }}
				</button>
				<mat-form-field class="w-full">
					<mat-label>{{ translationKeys.pictureURL | translate }}</mat-label>
					<input
						matInput
						type="text"
						[formControl]="pokemonEditForm.controls.image" />
				</mat-form-field>
			</div>
			<button *ngIf="!isImageDeleted" mat-button (click)="deleteImage()">
        {{ translationKeys.deletePicture | translate }}
			</button>
		</div>

		<div>
			<div class="mb-5">
				<div>
					<span>{{ translationKeys.height | translate }}:</span>
					<mat-form-field class="w-full">
						<mat-label>{{ translationKeys.height | translate }}</mat-label>
						<input
							matInput
							type="number"
							[formControl]="pokemonEditForm.controls.height" />
					</mat-form-field>
				</div>
				<div>
					<span>{{ translationKeys.weight | translate }}:</span>
					<mat-form-field class="w-full">
						<mat-label>{{ translationKeys.weight | translate }}</mat-label>
						<input
							matInput
							type="number"
							[formControl]="pokemonEditForm.controls.weight" />
					</mat-form-field>
				</div>
			</div>

			<div class="mb-5">
				<div *ngIf="selectedTypes.length < 2">
					<span>{{ translationKeys.types | translate }}:</span>
					<mat-form-field class="w-full">
						<mat-label>{{ translationKeys.selectTypes | translate }}</mat-label>
						<mat-select
							multiple
							[formControl]="pokemonEditForm.controls.types"
							panelClass="type-select">
							<mat-option
								*ngFor="let type of pokemonTypes"
								[value]="type"
								(click)="addType(type)"
								[disabled]="isTypeDisabled()"
								[ngStyle]="{
									'background-color': getTypeColor(type)
								}">
								<div>
									{{ type }}
								</div>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div *ngIf="selectedTypes.length > 0">
					<span>{{ translationKeys.types | translate }}:</span>
					<div class="selected-types">
						<div
							*ngFor="let type of selectedTypes"
							class="selected-type">
							<mat-chip-option
								[ngStyle]="{
									'background-color': getTypeColor(type)
								}"
								[selectable]="false"
								>{{ type }}
							</mat-chip-option>
							<button
								class="remove-button"
								(click)="removeType(type)">
								<mat-icon>close</mat-icon>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div>
				<span>{{ translationKeys.battleStats | translate }}</span>
				<mat-form-field class="w-full">
					<mat-label>{{ translationKeys.attack | translate }}</mat-label>
					<input
						matInput
						type="number"
						[formControl]="pokemonEditForm.controls.attack" />
				</mat-form-field>
				<mat-form-field class="w-full">
					<mat-label>{{ translationKeys.defense | translate }}</mat-label>
					<input
						matInput
						type="number"
						[formControl]="pokemonEditForm.controls.defense" />
				</mat-form-field>
				<mat-form-field class="w-full">
					<mat-label>{{ translationKeys.speed | translate }}</mat-label>
					<input
						matInput
						type="number"
						[formControl]="pokemonEditForm.controls.speed" />
				</mat-form-field>
				<mat-form-field class="w-full">
					<mat-label>{{ translationKeys.hp | translate }}</mat-label>
					<input
						matInput
						type="number"
						[formControl]="pokemonEditForm.controls.hp" />
				</mat-form-field>
				<mat-form-field class="w-full">
					<mat-label>{{ translationKeys.specialAttack | translate }}</mat-label>
					<input
						matInput
						type="number"
						[formControl]="pokemonEditForm.controls.special" />
				</mat-form-field>
			</div>
		</div>
	</div>

	<button (click)="onNoClick()" mat-button>{{ translationKeys.close | translate }}</button>
	<button
		(click)="onSubmit()"
		[disabled]="pokemonEditForm.invalid"
		mat-button>
    {{ translationKeys.confirm | translate }}
	</button>
</div>
